<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body class="container">
    
   
    <button class="bn5" type="button" data-action="start">Start</button>
    <button class="bn5" type="button" data-action="stop">Stop</button>
   
    
    <a class="link" href="../../index.html"><span class="main-page_link body-color_link">Back to main</span></a>
   

    <script src="../js/task1.js"></script>
</body>
</html>