<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p class="body-color_link">Соррі, що всі три завдання в одній консолі. Перше завдання виконується останнім через TimeOut. Надіюсь це не проблема?</p>
    <a class="link" href="../../index.html"><span class="main-page_link body-color_link">Back to main</span></a>
    <script src="../js/task2-1.js"></script>
    <script src="../js/task2-2.js"></script>
    <script src="../js/task2-3.js"></script>
</body>
</html>